page {
	width: 100%;
	height: 100%;
}
.index {
	width: 100%;
	height: 100%;
}
.confirm-btn {
	position: fixed;
	bottom: 0px;
	right: 50%;
	transform: translateX(-50%);
	z-index: 999;
	// &.a {
	// 	right: 10%;
	// }
}
.a {
	right: 10%;
}
.b {
	right: 20%;
}
